.span5.well.well-small
  %div
    %h1
      = I18n.t(:channel_header, name: @channel.name)
    = simple_form_for @channel, url: {action: "update"} do |f|
      %p
        - if flash[:notice]
          %strong= flash[:notice]
        = f.input :name
        = f.submit t(:save_changes), class: "btn"
  -if not @channel.default?
    .well.well-small
      = form_tag({controller: "channels", action: "destroy", id: @channel}, { method: "delete"}) do
        = submit_tag(t(:delete), confirm: I18n.t(:channel_deletion_confirmation, name: @channel.name), class: "btn btn-danger")
  .well.well-small
    = render partial: "shared/channel_slides", locals: { channel_slides: @channel.channel_slides}
.span5.well.well-small
  %div
    = render partial: "shared/slide_list", locals: { slides: Slide.all, dest_channel: @channel }