#previous.span1
  = link_to do
    %i.icon-chevron-left
- @channels.each do |channel|
  .span2.well.well-small
    .btn-group{style: "float: right"}
      %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        %i.icon-cog
        %span.caret
      = render partial: "shared/channel_actions", locals: {channel: channel}
    .channel-header
      %h4.hdr
        = link_to controller: "channels", action: "show", id: channel do
          = channel.name
        - if channel.default?
          %p.def default
      %ol
        - channel.channel_slides.each do |channel_slide|
          %li
            = link_to channel_slide.slide.name, url_for(channel_slide.slide)


#next.span1.pull-right
  = link_to do
    - if @is_last
      %i.icon-chevron-right{:class => "disabled-link"}
    - else
      %i.icon-chevron-right
