- if @pagination_prev
  = link_to({'page'=> @page-1}, {id: 'previous', class: 'span1 pull-left arrow'}) do
    %i.icon-chevron-left
- else
  #previous.span1.pull-left
    %i.icon-chevron-left

- @channels.each do |channel|
  .span2.well.well-small
    .btn-group{style: "float: right"}
      %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        %i.icon-cog
        %span.caret
      = render partial: "shared/channel_actions", locals: {channel: channel}
    .channel-header
      %header.hdr
        %h4
          = link_to controller: "channels", action: "show", id: channel do
            = channel.name
        - if channel.default?
          %span.def status: default
      %ol
        - channel.channel_slides.each do |channel_slide|
          %li
            - if channel_slide.slide.type == 'UrlSlide'
              %i.icon-align-justify
            - if channel_slide.slide.type == 'CustomSlide'
              %i.icon-info-sign
            - elsif channel_slide.slide.type == 'YoutubeSlide'
              %i.icon-facetime-video
            - elsif channel_slide.slide.type == 'ImageSlide'
              %i.icon-picture
            = link_to channel_slide.slide.name, url_for(channel_slide.slide)

- if @pagination_next
  = link_to({'page'=> @page+1}, {id: 'next', class: 'span1 pull-right arrow'}) do
    %i.icon-chevron-right
- else
  #next.span1.pull-right
    %i.icon-chevron-right
