= simple_form_for(@slide, html:{class: 'form-horizontal', :multipart => true}) do |f|
  = f.input :name
  = image_tag @slide.image.url
  = f.file_field :image
  = f.input :duration, as: :integer
  - if @slide.new_record?
    = f.submit t(:create), class: 'btn'
  - else
    = f.submit t(:save_changes), class: 'btn' 